#dock{
    margin:auto;
    /* padding-bottom: 10px;  */
    max-width: 700px;
}

.pf_wrap{
    margin-top: -20px;
    width: 100%;
    height: 500px;
    position: relative;
    z-index: -1;
    display: grid;
    grid-template-rows: 1fr 50% 1fr; 
    grid-template-columns: 1fr 50% 1fr;
    /* animation: fadeIn 2s ease; */
}
.pf_wrap p{
    line-height: 15px;
    margin: 2px;
}
.pf_wrap hr{
    margin: 1px 0 0 -8px;
}
.icon_delay{
    animation: bio-fadeIn 0.75s ease;
}
.str_delay{
    animation: bio-fadeIn 0.75s ease-in;
}
#pficon{
    grid-row: 2/3;
    grid-column: 2/3;
    position: relative;
    z-index: 1;
    /* width: 100%; */
    margin: auto;
    text-align: center;
    /* animation: fadeIn ease 0.5s forwards; */
    /* transform: rotateZ(-90deg); */
    /* animation: moving ease 0.75s forwards; */
    /* transform: translateY(-200%); */
}
#pficon span::before {
    position: absolute;
    content:"";
    width: 158px;
    height: 158px;
    left: -10px;
    bottom: -6px;
    z-index: 0;
    /* border: dashed #009B9F 11px; */
    border: dashed #E3A262 11px;
    border-radius: 100px;
    animation: gearClockwise 10s linear infinite;
    opacity: 0.95;
}
#gear2 {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 10px;
    z-index: -1;
    top: 110px;
    left: 135px;
    box-sizing: content-box;
    background: #000a;
    background-clip: content-box;
    border-radius: 100px;
    border: dashed #000a 11px;
    animation: gearAntiClockwise 6.65s linear infinite;
}
#gear3 {
    position: absolute;
    width: 50px;
    height: 50px;
    /* padding: 10px; */
    z-index: -1;
    top: -20px;
    left: -55px;
    box-sizing: content-box;
    background: #000a;
    background-clip: content-box;
    border-radius: 100px;
    border: dashed #000a 11px;
    animation: gearAntiClockwise 6s linear infinite;
}

#pficon span{
    /* position: relative;
    width: 80%; */
    /* will-change: transform; */
}
#pficon img{
    /* position: relative; */
    border-radius: 90px;
}
.pf-name {
    position: relative;
    grid-row: 2/3;
    grid-column: 3/4;
    animation: bio-moving ease-out 0.75s forwards;
    transform: translateX(10%) translateY(-5%);
}
.pf-name span { color: var(--main-orange);} 
#line1{
    position: absolute;
    color: #eee;
    left: -14px;
    top: -28px;
    width: 100px;
    overflow: clip;
}
#line2{
    position: absolute;
    color: #eee;
    left: -95px;
    top: 25px;
    width: 80px;
    transform: rotate(135deg);
}
#nameplate{
    color: #eee;
    position: absolute;
    left: -5px;
}
.pf-interest {
    position: relative;
    grid-row: 3/4;
    grid-column: 1/2;
    animation: bio-moving ease-out 0.75s forwards;
    transform: translateX(-5%) translateY(10%);
}
.pf-interest span { color: var(--main-orange);} 
#line3{
    position: absolute;
    color: #eee;
    top: -33px;
    right: -30px;
    width: 110px;
}
#line4{
    position: absolute;
    color: #eee;
    right: -86px;
    top: -42px;
    width: 60px;
    transform: rotate(-45deg);
}
#interest{
    color: #eee;
    position: absolute;
    right: -26px;
    top: -4px;
}
@keyframes bio-fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes gearClockwise {
    100% { transform: rotate(360deg);}
}
@keyframes gearAntiClockwise {
    100% { transform: rotate(-360deg);}
}
@keyframes bio-moving{
    /* 100% { transform: translateY(0); } */
    100% { transform: translate(0);}
}