#dock{
    margin:auto;
    padding-bottom: 10px; 
    max-width: 700px;
}

.pf_wrap{
    margin-top: -20px;
    width: 100%;
    height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 50% 1fr; 
    grid-template-columns: 1fr 50% 1fr;
    animation: fadeIn 2s ease;
}
.pf_wrap p{
    line-height: 15px;
    margin: 2px;
}
.pf_wrap hr{
    margin: 1px 0 0 -8px;
}
.icon_delay{
    animation: fadeIn 1s ease;
}
.str_delay{
    animation: fadeIn 3s ease-in;
}
#pficon{
    grid-row: 2/3;
    grid-column: 2/3;
    position: relative;
    /* width: 100%; */
    margin: auto;
    text-align: center;
    animation: moving ease 2s forwards;
    transform: translateY(-200%);
}
#pficon span::before {
    position: absolute;
    content:"";
    width: 158px;
    height: 158px;
    left: -10px;
    bottom: -6px;
    z-index: 0;
    /* border: dashed #009B9F 11px; */
    border: dashed #E3A262 11px;
    border-radius: 90px;
    animation: gear 10s linear infinite;
    opacity: 0.95;
}
@keyframes gear {
    100% { transform: rotate(360deg);}
}
@keyframes moving{
    100% { transform: translateY(0); }
}
#pficon span{
    /* position: relative;
    width: 80%; */
    will-change: transform;
}
#pficon img{
    /* position: relative; */
    border-radius: 90px;
}
#line1{
    position: absolute;
    grid-row: 2/3;
    grid-column: 3/4;
    color: #eee;
    left: -14px;
    top: -28px;
    width: 100px;
    overflow: clip;
}
#line2{
    position: absolute;
    grid-row: 2/3;
    grid-column: 3/4;
    color: #eee;
    left: -95px;
    top: 25px;
    width: 80px;
    transform: rotate(135deg);
}
#nameplate{
    grid-row: 2/3;
    grid-column: 3/4;
    color: #eee;
    position: absolute;
    left: -5px;
}
#line3{
    position: absolute;
    grid-row: 3/4;
    grid-column: 1/2;
    color: #eee;
    top: -33px;
    right: -30px;
    width: 110px;
}
#line4{
    position: absolute;
    grid-row: 3/4;
    grid-column: 1/2;
    color: #eee;
    right: -86px;
    top: -42px;
    width: 60px;
    transform: rotate(-45deg);
}
#interest{
    color: #eee;
    grid-row: 3/4;
    grid-column: 1/2;
    position: absolute;
    right: -26px;
    top: -4px;
}
@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
