// colors
$orange: #FFB74C;
$green: #30c75d;
$black-1: #111;
$black-2: #222;
$black-3: #333;
$white-e: #eee;
$trans-0: #3330;

// defaults
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style-type: none;
}

$ps-content-height: 380px;

// mixin
@mixin absolute-centering {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin flex-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}